body {
    text-align: center;
    background-color: lavender;
}
.container {
    background-color: rgba(0, 0, 0, 0.405);
    width: 80%;
    height: 80vh;
    border: 2px solid black;
    margin: 10%;
    text-align: left;
    padding: 2px;
}
p {
    font-size:50px;
}